<h1 class="cyan-text text-darken-4"><%= @event_statistics.identifier.capitalize %> <small class="cyan-text text-lighten-2"><%= @event_name %> Statistics</small></h1>
<a class="waves-effect waves-light btn red lighten-2" href="/sources/<%= @event_statistics.identifier %>/events"><i class="material-icons left">view_list</i>Events Index</a>
<%= link_to_source_statistics(@event_statistics.identifier) %><p id="total-received"><strong>Total Times Received: </strong><%= @event_statistics.event_hourly_breakdown(@event_name).values.reduce(:+) %> </p>
<h2>Hour By Hour Breakdown</h2>
<table class="z-depth-1 striped bordered" id="hour-by-hour">
  <tr>
    <th>Hour</th>
    <th>Times Received</th>
  </tr>
  <% @event_statistics.event_hourly_breakdown(@event_name).each do |hour, times_received| %>
  <tr>
    <td><%= hour %></td>
    <td><%= times_received %></td>
  </tr>
  <% end %>
</table>
