<h1><%= @identifier.capitalize %> Statistics for <%= @relative_path %></h1>

<h2>Response Times</h2>
<table id="response-times">
  <tr>
    <td>Longest Response Time: <%= @response_times.fetch(:longest) %></td>
  </tr>
  <tr>
    <td>Shortest Response Time: <%= @response_times.fetch(:shortest) %></td>
  </tr>
  <tr>
    <td>Average Response Time: <%= @response_times.fetch(:average) %></td>
  </tr>
</table>
