<h1 class="cyan-text text-darken-4"><%= @relative_path_stats.identifier.capitalize %> <small class="cyan-text text-lighten-2">Statistics for '/<%= @relative_path %>'</small></h1>
<%= link_to_source_statistics(@relative_path_stats.identifier) %>
<div class="row">
  <div class="col m6 s12">
    <h2>Response Times</h2>
    <table class="z-depth-1 striped bordered" id="response-times">
      <tr>
        <td><strong>Average Response Time:</strong> <%= @relative_path_stats.response_times.fetch(:average) %></td>
      </tr>
      <tr>
        <td><strong>Longest Response Time:</strong> <%= @relative_path_stats.response_times.fetch(:longest) %></td>
      </tr>
      <tr>
        <td><strong>Shortest Response Time:</strong> <%= @relative_path_stats.response_times.fetch(:shortest) %></td>
      </tr>
    </table>
  </div>
  <div class="col m6 s12">
    <h2>Most Popular Agents</h2>
    <table class="z-depth-1 striped bordered" id="user-agents">
      <%= erb :'partials/_table_header', locals: { first_header: "User Agent", second_header: "Number of Occurences" } %>
      <%= erb :'partials/_table_rows', locals: { data: @relative_path_stats.top_user_agents } %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col m6 s12">
    <h2>Top Referrers</h2>
    <table class="z-depth-1 striped bordered" id="referrers">
      <%= erb :'partials/_table_header', locals: { first_header: "Referrer", second_header: "Number of Referrals" } %>
      <%= erb :'partials/_table_rows', locals: { data: @relative_path_stats.top_referrers } %>
    </table>
  </div>
  <div class="col m6 s12">
    <h2>Types of Requests Received</h2>
    <table class="z-depth-1 bordered" id="http-requests">
      <tr>
        <% @relative_path_stats.http_verbs.each do |verb| %>
          <td><%= verb %></td>
      </tr>
        <% end %>
    </table>
  </div>
</div>
