<h1 class="cyan-text text-darken-4"><%= @source_statistics.identifier.capitalize %> <small class="cyan-text text-lighten-2">Statistics</small></h1>
<a class="waves-effect waves-light btn red lighten-2" href="/sources/<%= @source_statistics.identifier %>/events"><i class="material-icons left">view_list</i>Events Index</a>
  <div class="row">
    <div class="col m6 s12">
    <h2>Most Requested URLs</h2>

    <table class="z-depth-1 striped bordered" id="top-urls">
    <%= erb :'partials/_table_header', locals: { first_header: "Url", second_header: "# of Visits" } %>
    <% @source_statistics.top_urls.each do |url, visits| %>
    <tr>
      <td><a href="/sources/<%= @source_statistics.identifier %>/urls/<%= url.sub("#{@root_url}/", '') %>"><%= url %></a></td>
      <td> <%= visits %> </td>
    </tr>
    <% end %>
    </table>
  </div>
  <div class="col m6 s12">
    <h2>Browser Breakdown</h2>

    <table class="z-depth-1 striped bordered" id="browsers">
      <%= erb :'partials/_table_header', locals: { first_header: "Browser", second_header: "# of Visits" } %>
      <%= erb :'partials/_table_rows', locals: { data: @source_statistics.browser_breakdown } %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col m6 s12">
    <h2>Operating System Breakdown</h2>

    <table class="z-depth-1 striped bordered" id="os">
      <%= erb :'partials/_table_header', locals: { first_header: "Operating System", second_header: "# of Visits" } %>
      <%= erb :'partials/_table_rows', locals: { data: @source_statistics.os_breakdown } %>
    </table>
  </div>

  <div class="col m6 s12">
    <h2>Screen Resolution</h2>

    <table class="z-depth-1 striped bordered" id="screen-resolution">
      <%= erb :'partials/_table_header', locals: { first_header: "Screen Resolution", second_header: "# of Visits" } %>
      <% @source_statistics.screen_resolutions.each do |screen_res, count| %>
      <tr>
        <td> <%= "#{screen_res[0]} x #{screen_res[1]}" %> </td>
        <td> <%= count %> </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col m6 s12">
    <h2>Average Response Time By URL</h2>

    <table class="z-depth-1 striped bordered" id="response-times">
      <%= erb :'partials/_table_header', locals: { first_header: "URL", second_header: "Average Response Time" } %>
      <% @source_statistics.url_response_times.each do |url, average_response_time| %>
      <tr>
        <td><a href="/sources/<%= @source_statistics.identifier %>/urls/<%= url.sub("#{@root_url}/", '') %>"><%= url %></a></td>
        <td> <%= average_response_time %> </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
