<h1><%= @source_statistics.identifier.capitalize %> Statistics</h1>

<h2>Most Requested URLs</h2>

<table id="top-urls">
<tr>
  <th># of Visits</th>
  <th>Url</th>
</tr>
<% @source_statistics.top_urls.each do |url| %>
<tr>
  <td> <%= url.values.first %> </td>
  <td><a href="/sources/<%= @source_statistics.identifier %>/urls/<%= url.keys.first.sub("#{@root_url}/", '') %>"><%= url.keys.first %></a></td>
</tr>
<% end %>
</table>

<h2>Browser Breakdown</h2>

<table id="browsers">
  <tr>
    <th># of Visits</th>
    <th>Browser</th>
  </tr>
  <% @source_statistics.browser_breakdown.each do |browser| %>
  <tr>
    <td> <%= browser.values.first %> </td>
    <td> <%= browser.keys.first %> </td>
  </tr>
  <% end %>
</table>

<h2>Operating System Breakdown</h2>

<table id="os">
  <tr>
    <th># of Visits</th>
    <th>Operating System</th>
  </tr>
  <% @source_statistics.os_breakdown.each do |os| %>
  <tr>
    <td> <%= os.values.first %> </td>
    <td> <%= os.keys.first %> </td>
  </tr>
  <% end %>
</table>

<h2>Screen Resolution</h2>

<table id="screen-resolution">
  <tr>
    <th>Screen Resolution</th>
    <th># of Visits</th>
  </tr>
  <% @source_statistics.screen_resolutions.each do |screen_res, count| %>
  <tr>
    <td> <%= screen_res %> </td>
    <td> <%= count %> </td>
  </tr>
  <% end %>
</table>

<h2>Average Response Time By URL</h2>

<table id="response-times">
  <tr>
    <th>URL</th>
    <th>Average Response Time</th>
  </tr>
  <% @source_statistics.url_response_times.each do |url, average_response_time| %>
  <tr>
    <td><a href="/sources/<%= @source_statistics.identifier %>/urls/<%= url.sub("#{@root_url}/", '') %>"><%= url %></a></td>
    <td> <%= average_response_time %> </td>
  </tr>
  <% end %>
</table>

<a href="/sources/<%= @source_statistics.identifier %>/events">Events Index</a>
